.container {
    min-height: 15vh;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    backdrop-filter: blur(10px);
}

.container img {
    height: 8vh;
    width: auto;
    background-color: none;
    margin: 20px 0px 0px 50px;
    border-radius: 15px;
}

.container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 25px 50px 0px 0px;
    padding: 0px;
    line-height: 1;
}

.socials-container {
    display: flex;
    padding: 10px;
}

.socials-container img {
    height: 40px;
    width: auto;
}